@charset "UTF-8";

body {
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  min-width: 1100px;
}
img {
  display: block;
}
.inner {
  width: 1100px;
  margin: auto;
  position: relative;
}

/* header */
header {
  width: 100%;
  background-color: #f6f5ef;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 10;
}
header > div.inner {
  height: 120px;
}
header h1 {
  height: 75%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header div.sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 30px;
}
header div.sub-menu ul {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
header div.sub-menu ul li {
  position: relative;
}
header div.sub-menu ul li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header div.sub-menu ul li:first-child::before {
  content: "";
  display: none;
}
header div.sub-menu ul li a {
  padding: 11px 16px;
  font-size: 12px;
  display: block;
  transition: all 0.4s;
}
header div.sub-menu ul li a:hover {
  text-decoration: underline;
}
header div.inner div.search {
  background-color: #fff;
  position: absolute;
  top: 12px;
  right: 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

header div.inner div.search a {
  display: block;
}
header div.inner div.search a img {
  width: 100%;
  max-width: 100%;
}

/* nav */
header nav ul.main-menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 110;
}
header nav ul.main-menu li.item .item__name {
  cursor: pointer;
  padding: 10px 30px 30px 30px;
  font-size: 13px;
  font-weight: bold;
}
header nav ul.main-menu li.item:hover .item__name {
  background: #2c2a29;
  color: #669900;
  text-decoration: underline;
  border-radius: 10px 10px 0 0;
}
/* sub-menu */
header nav ul.main-menu li.item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header nav ul.main-menu li.item:hover .item__contents {
  display: block;
}
/* 1단 */
header nav ul.main-menu li.item .item__contents .contents__menu {
  width: 100%;
  margin: auto;
  background-color: #2c2a29;
}
header nav ul.main-menu li.item .item__contents .contents__menu > ul.inner {
  margin: auto;
  display: flex;
  padding: 20px 0;
}
header
  nav
  ul.main-menu
  li.item
  .item__contents
  .contents__menu
  > ul.inner
  > li {
  width: 220px;
}
header
  nav
  ul.main-menu
  li.item
  .item__contents
  .contents__menu
  > ul.inner
  > li
  h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
header
  nav
  ul.main-menu
  li.item
  .item__contents
  .contents__menu
  > ul.inner
  > li
  ul
  li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header
  nav
  ul.main-menu
  li.item
  .item__contents
  .contents__menu
  > ul.inner
  > li
  ul
  li:hover {
  text-decoration: underline;
}

/* 2단 */
header nav ul.main-menu li.item .item__contents .contents__texture {
  background: url(../images/main_menu_pattern.jpg);
  font-size: 12px;
}
header nav ul.main-menu li.item .item__contents .contents__texture .inner {
  padding: 20px 0;
}
header nav ul.main-menu li.item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: bold;
}
header nav ul.main-menu li.item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}
/* badge */
.badges {
  position: fixed;
  top: 150px;
  right: 80px;
  z-index: 990;
}
.badges .badge img {
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
/* visual */
section.visual {
  position: relative;
  background: url(../images/main_bg.jpg) no-repeat center;
  top: 120px;
}
section.visual .inner {
  height: 646px;
}
section.visual a {
  position: absolute;
  top: 280px;
  left: 110px;
  width: 120px;
  height: 35px;
  border: 2px solid rgb(241, 88, 160);
  border-radius: 5px;
  color: rgb(241, 88, 160);
  text-align: center;
  font-size: 14px;
  line-height: 2;
  font-weight: bold;
}
section.visual a:hover {
  text-decoration: underline;
}
section.visual .title {
  position: absolute;
  top: 88px;
}
section.visual div.visual__img1 {
  position: absolute;
  top: 220px;
  left: 200px;
}
section.visual div.visual__img2 {
  position: absolute;
  top: 20px;
  left: 430px;
}
section.visual div.visual__img3 {
  position: absolute;
  top: 130px;
  right: -90px;
}
section.visual .fade-in {
  opacity: 0;
}
/* 공지사항 */
.notice-line {
  position: relative;
  top: 100px;
}
.notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #000;
}
.notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice-line .inner {
  width: 70%;
  height: 62px;
  display: flex;
}
.notice-line .inner .inner__left {
  width: 60%;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.notice-line .inner .inner__left h2 {
  width: 50px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin-right: 20px;
  width: 100px;
}
.notice-line .inner .inner__left .swiper {
  width: 80%;
  height: 62px;
  display: flex;
  flex-grow: 1;
  min-width: 70%;
}
.notice-line .inner .inner__left .swiper .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice-line .inner .inner__left .swiper .swiper-slide a {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.notice-line .inner .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.notice-line .inner .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  right: 7%;
}
.notice-line .inner .inner__right div.toggle-promotion {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

/* promotion */
.notice .promotion {
  width: 100%;
  height: 0;
  background-color: #f6f5ef;
  position: relative;
  top: 100px;
  overflow: hidden;
  transition: height 0.4s;
}
.notice .promotion.show {
  height: 683px;
}
.notice .toggle-promotion.rotate {
  transform: rotate(180deg);
}
.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  text-align: center;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 +20px) / -2);
}
/* 자세히보기 버튼 */
.notice .promotion .swiper .btn {
  width: 130px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #333;
  text-align: center;
  line-height: 2.3;
  transition: all 0.4s;
  font-size: 15px;
  font-weight: bold;
}
.notice .promotion .swiper .btn:hover {
  background-color: #333;
  color: #fff;
  text-decoration: underline;
}
/* 양쪽 슬라이드 투명도 */
.notice .promotion .swiper .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
}
.notice .promotion .swiper .swiper-slide-active {
  opacity: 1;
}
/* swiper-pagination */
.notice .promotion .swiper-pagination {
  position: absolute;
  bottom: 50px;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background: url(../images/promotion_slide_pager.png);
  width: 13px;
  height: 12px;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background: url(../images/promotion_slide_pager_on.png);
}
/* swiper 이전, 다음버튼 */
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  position: absolute;
  top: 250px;
  width: 60px;
  height: 60px;
  z-index: 2;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.notice .promotion .swiper-prev {
  left: 680px;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 660px;
  margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background: #333;
  color: #fff;
}

/* reward */
.rewards {
  width: 100%;
  height: 350px;
  background-color: #1e3932;
  position: relative;
  top: 100px;
}
.rewards .inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.rewards .inner div.logo {
  width: 200px;
  margin-top: 10px;
  margin-right: 30px;
  padding-top: 20px;
}
.rewards .inner div.logo img {
  width: 100%;
  max-width: 100%;
}
.rewards .reward-right {
  width: 80%;
  color: #fff;
}
.rewards .reward-right a:hover {
  text-decoration: underline;
}
.rewards .reward-right .reward-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  padding-top: 20px;
}

.rewards .reward-right .reward-top .reward-top-text h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.rewards .reward-right .reward-top .reward-top-text p {
  font-size: 17px;
}
.rewards .reward-right .reward-top .reward-top-text p b {
  font-weight: 900;
  font-size: 19px;
}
.rewards .reward-right .reward-top .reward-top-btn {
  width: 200px;
  display: flex;
  align-self: flex-end;
}
.rewards .reward-right .reward-top .reward-top-btn a:first-child {
  display: block;
  width: 100px;
  height: 40px;
  background-color: paleturquoise;
  text-align: center;
  background-color: #227052;
  line-height: 2.5;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
}
.rewards .reward-right .reward-top .reward-top-btn a:nth-child(2) {
  width: 80px;
  height: 40px;
  line-height: 2.5;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.rewards .reward-right .reward-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.rewards .reward-right .reward-bottom .reward-bottom-text {
  font-size: 14px;
}
.rewards .reward-right .reward-bottom .reward-bottom-text b {
  font-weight: bold;
  font-size: 14px;
}
.rewards .reward-right .reward-bottom .reward-bottom-btn {
  width: 200px;
  text-align: center;
  height: 40px;
  font-size: 14px;
  line-height: 2.5;
  font-weight: bold;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  margin-left: 20px;
}
/* SPRING */
section.spring {
  width: 100%;
  height: 573px;
  background: url(../images/season_bg.png.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
section.spring .spring-bg-left {
  position: absolute;
  bottom: 0;
}
section.spring .spring-bg-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
section.spring .inner {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 130px 150px 0;
}
section.spring .inner .spring-img {
  width: 400px;
}
section.spring .inner .spring-img img {
  width: 100%;
  max-width: 100%;
}
section.spring .inner .spring-text {
  padding-top: 50px;
  padding-right: 20px;
}
section.spring .inner .spring-text p {
  cursor: pointer;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #333;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  font-size: 14px;
  margin-top: 30px;
  transition: all 0.6s;
}
section.spring .inner .spring-text p:hover {
  background-color: #333;
  color: #fff;
  text-decoration: underline;
}

/* reserve */
section.reserve {
  width: 100%;
  height: 370px;
  background: url(../images/reserve_bg.png.jpg) no-repeat center;
  position: relative;
}
section.reserve .reserve-title {
  position: absolute;
  z-index: 3;
}
section.reserve div.inner {
  background-color: coral;
  position: relative;
  padding: 0 100px;
}
section.reserve div.inner .reserve-title {
  position: absolute;
  top: 80px;
}
section.reserve div.inner .reserve-title p {
  border: 2px solid rgba(167, 121, 53, 0.76);
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: rgba(167, 121, 53, 0.76);
  text-align: center;
  transition: all 0.6s;
  position: absolute;
  margin-top: 15px;
  left: 265px;
}
section.reserve div.inner .reserve-title p:hover {
  background-color: rgba(167, 121, 53, 0.76);
  color: #fff;
  text-decoration: underline;
}
section.reserve div.inner .reserve-img {
  width: 400px;
  position: absolute;
  top: 50px;
  right: 100px;
}
section.reserve div.inner .reserve-img img {
  width: 100%;
  max-width: 100%;
}

/* favorite */
section.favorite {
  width: 100%;
  height: 740px;
  background: url(../images/favorite_bg.png.jpg) no-repeat fixed center;
  background-size: cover;
  padding-top: 100px;
}
section.favorite .inner {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
section.favorite .inner .favorite-text {
  position: relative;
  width: 300px;
  margin-right: 50px;
}
section.favorite .inner .favorite-text img:nth-child(1) {
  width: 100%;
  max-width: 100%;
}
section.favorite .inner .favorite-text img:nth-child(2) {
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
}
section.favorite .inner .favorite-text p {
  border: 2px solid #fff;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #fff;
  text-align: center;
  transition: all 0.6s;
  position: absolute;
  right: 0;
  margin-top: 30px;
}
section.favorite .inner .favorite-text p:hover {
  background-color: #fff;
  color: #000;
  text-decoration: underline;
}
section.favorite .inner .favorite-image {
  width: 600px;
}
section.favorite .inner .favorite-image img {
  width: 100%;
  max-width: 100%;
}

/* magazine */
section.magazine {
  width: 100%;
  height: 340px;
  background: url(../images/magazine_bg.png) no-repeat center;
  background-size: cover;
  margin-top: 50px;
}
section.magazine .inner {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
section.magazine .inner .magazine-text {
  padding-top: 70px;
}
section.magazine .inner .magazine-text p {
  border: 2px solid #333;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #333;
  text-align: center;
  transition: all 0.6s;
  position: absolute;
  margin-top: 30px;
  left: 300px;
}
section.magazine .inner .magazine-text p:hover {
  background-color: #333;
  color: #fff;
  text-decoration: underline;
}
section.magazine .inner .magazine-img {
  margin-top: -50px;
  width: 320px;
  margin-right: 20px;
}
section.magazine .inner .magazine-img img {
  width: 100%;
  max-width: 100%;
}
/* store */
section.store {
  width: 100%;
  height: 400px;
  background: url(../images/find_store_bg.jpg);
}
section.store .inner {
  position: relative;
}
section.store .inner .store-bg {
  width: 100%;
  height: 400px;
  position: relative;
}
section.store .inner .store-bg img:nth-child(1) {
  position: absolute;
  left: 33%;
}
section.store .inner .store-bg img:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
}

section.store .inner div.store-bg img:nth-child(4) {
  position: absolute;
  left: 230px;
  bottom: 20px;
}
section.store .inner div.store-bg img:nth-child(5),
section.store .inner div.store-bg img:nth-child(6) {
  position: absolute;
  right: 140px;
  top: 140px;
}
section.store .inner div.store-bg img:nth-child(6) {
  top: 210px;
  right: 157px;
}
section.store .inner div.store-bg p {
  border: 2px solid #333;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #333;
  text-align: center;
  transition: all 0.6s;
  position: absolute;
  right: 390px;
  bottom: 70px;
}
section.store .inner div.store-bg p:hover {
  background-color: #333;
  color: #fff;
  text-decoration: underline;
}
/* footer */
footer {
  width: 100%;
  background-color: #2c2a29;
  color: #fff;
}
footer .inner {
  position: relative;
}
footer .inner .footer-top ul li a:hover {
  text-decoration: underline;
}
footer .inner .footer-top ul.footer-gnb {
  display: flex;
  padding-top: 40px;
}
footer .inner .footer-top ul.footer-gnb > li {
  margin: 0 20px;
}
footer .inner .footer-top ul.footer-gnb > li > a {
  width: 250px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
footer .inner .footer-top ul.sub {
  margin-top: 10px;
}
footer .inner .footer-top ul.sub li a {
  width: 250px;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}
footer .inner .footer-logo {
  position: absolute;
  right: 2%;
  top: 40px;
}
footer .footer-middle {
  width: 100%;
  background: #282828;
  margin-top: 60px;
  padding-top: 15px;
  padding-bottom: 30px;
}
footer .footer-middle .inner ul {
  display: flex;
  flex-wrap: nowrap;
}
/* footer bottom */
footer .footer-bottom {
  margin-top: 20px;
}
footer .footer-bottom .inner .footer-category ul {
  display: flex;
  justify-content: center;
}
footer .footer-bottom .inner .footer-category ul li a {
  font-size: 11px;
}
footer .footer-bottom .inner .footer-category ul li a:hover {
  text-decoration: underline;
}
footer .footer-bottom .inner .footer-category ul li a::after {
  content: "|";
  margin: 0 10px;
  color: #555;
}
footer .footer-bottom .inner .footer-category ul li:last-child a::after {
  content: "";
}
footer .footer-bottom .inner .footer-category ul li:first-child a {
  color: #3ddd53;
  font-weight: bold;
}
footer .footer-bottom .inner .footer-btn {
  text-align: center;
  margin-top: 15px;
}
footer .footer-bottom .inner .footer-btn a {
  width: 120px;
  margin: 0 5px;
  font-size: 12px;
  border: 2px solid #fff;
  padding: 7px 15px;
  font-weight: bold;
  border-radius: 5px;
}
footer .footer-bottom .inner .footer-btn a:hover {
  text-decoration: underline;
}
footer address {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 50px;
  font-size: 10px;
  color: #ccc;
}
footer address ul {
  display: flex;
  justify-content: center;
}
footer address ul li {
  margin: 0 15px;
}
footer address p {
  margin-top: 20px;
}

/* spy */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateY(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: 0.1s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.25s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.4s;
}
